<div class="cart-item">
  <span>
    <h3>{{ cartItem.name }}</h3>
  </span>
  <span>
    <strong>Cantidad: </strong>
    <p>{{ cartItem.amount }}</p>
  </span>
  <span>
    <strong>Precio/ud: </strong>
    <p>{{ cartItem.price | currency:'EUR':'symbol':'1.2-2' }}</p>
  </span>
  <span>
    <strong>Precio total: </strong>
    <p>{{cartItem.total | currency:'EUR':'symbol':'1.2-2' }}</p>
  </span>


  <!-- <p><strong>Cantidad: </strong> {{ cartItem.amount }}</p>
  <p><strong>Precio/ud: </strong> {{ cartItem.price | currency:'EUR':'symbol':'1.2-2' }}</p>
  <p><strong>Precio total: </strong> {{cartItem.total | currency:'EUR':'symbol':'1.2-2' }}</p> -->

  <button class="dangerous-button" (click)="emitRemove(cartItem)">ELIMINAR DEL CARRITO</button>
</div>
